.level-badge-inner {
    display: inline-flex;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    border: 1px solid black;
}
.level-badge-outer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 1em;
}

/*.level-badge-outer {*/
/*    background: #385a94;*/
/*    border-radius: 50%;*/
/*    height: 2em;*/
/*    width: 2em;*/
/*    position: relative;*/
/*    z-index: 0;*/
/*    !**/
/*     Child elements with absolute positioning will be*/
/*     positioned relative to this div*/
/*    *!*/
/*}*/
/*.level-badge-inner {*/
/*    position: absolute;*/
/*    background: #a9aaab;*/
/*    border-radius: 50%;*/
/*    height: 1.5em;*/
/*    width: 1.5em;*/
/*    !**/
/*     Put top edge and left edge in the center*/
/*    *!*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin: -.75em 0px 0px -.75em;*/
/*    z-index: 1;*/
/*    !**/
/*     Offset the position correctly with*/
/*     minus half of the width and minus half of the height*/
/*    *!*/
/*}*/
